---
http_interactions:
- request:
    method: get
    uri: https://api.fakku.net/manga/right-now-while-cleaning-the-pool/related
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dicks:
      - PH
    body:
      encoding: UTF-8
      string: '{"related":[{"content_name":"Before the Pool Opens","content_url":"http:\/\/www.fakku.net\/manga\/before-the-pool-opens-english","content_description":"While
        cleaning the school pool, Rio teases her friend Shunpei a bit too much.","content_language":"english","content_category":"manga","content_date":1322693342,"content_filesize":11,"content_favorites":1963,"content_comments":59,"content_pages":24,"content_poster":"Kizlan","content_poster_url":"http:\/\/www.fakku.net\/users\/kizlan","content_tags":[{"attribute":"Oral","attribute_link":"\/tags\/oral"},{"attribute":"Mizugi","attribute_link":"\/tags\/mizugi"},{"attribute":"Schoolgirl","attribute_link":"\/tags\/schoolgirl"},{"attribute":"Forced","attribute_link":"\/tags\/forced"},{"attribute":"Hentai","attribute_link":"\/tags\/hentai"}],"content_translators":[{"attribute":"Kizlan","attribute_link":"\/translators\/kizlan"}],"content_series":[{"attribute":"Original
        Work","attribute_link":"\/series\/original-work"}],"content_artists":[{"attribute":"Sahashi
        Renya","attribute_link":"\/artists\/sahashi-renya"}],"content_images":{"cover":"https:\/\/t.fakku.net\/images\/manga\/b\/beforethepoolopens_e\/thumbs\/002.thumb.jpg","sample":"https:\/\/t.fakku.net\/images\/manga\/b\/beforethepoolopens_e\/thumbs\/018.thumb.jpg"}},{"content_name":"A
        Gargoyle at the Treasure Chest","content_url":"http:\/\/www.fakku.net\/manga\/a-gargoyle-at-the-treasure-chest-english","content_description":"A
        boy treasure hunting in a dungeon is lost and discovers a treasure but the
        chest is guarded by a gargoyle, well one thing of course leads to another.","content_language":"english","content_category":"manga","content_date":1[...]
