---
http_interactions:
- request:
    method: get
    uri: https://api.fakku.net/index
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dicks:
      - PH
    body:
      encoding: UTF-8
      string: '{"index":[{"content_name":"See-Through School Swimsuit Splash!","content_url":"http:\/\/www.fakku.net\/manga\/see-through-school-swimsuit-splash-english","content_description":"Commissioned
        by celltf","content_language":"english","content_category":"manga","content_date":1407056996,"content_filesize":24612600,"content_favorites":0,"content_comments":0,"content_pages":17,"content_poster":"Anonymous","content_poster_url":"http:\/\/www.fakku.net\/users\/anonymous","content_tags":[{"attribute":"Vanilla","attribute_link":"\/tags\/vanilla"}],"content_translators":[{"attribute":"Rinruririn","attribute_link":"\/translators\/rinruririn"},{"attribute":"Hihohahi","attribute_link":"\/translators\/hihohahi"}],"content_series":[{"attribute":"Original
        Work","attribute_link":"\/series\/original-work"}],"content_artists":[{"attribute":"Hiro
        Kazuki","attribute_link":"\/artists\/hiro-kazuki"}],"content_images":{"cover":"https:\/\/t.fakku.net\/images\/manga\/s\/[Hiro_Kazuki]_Original_Work_-_See-Through_School_Swimsuit_Splash!\/thumbs\/001.thumb.jpg","sample":"https:\/\/t.fakku.net\/images\/manga\/s\/[Hiro_Kazuki]_Original_Work_-_See-Through_School_Swimsuit_Splash!\/thumbs\/013.thumb.jpg"}},{"content_name":"Buruman
        ch.6","content_url":"http:\/\/www.fakku.net\/manga\/buruman-ch6-english","content_description":"Consider
        Donating.\r\nSource: http:\/\/krizalidtranslations.wordpress.com\/2014\/08\/02\/blmanian-buruman-ch-6\/","content_language":"english","content_category":"manga","content_date":1407042260,"content_filesize":26211600,"cont[...]
