---
http_interactions:
- request:
    method: get
    uri: https://api.fakku.net/manga/right-now-while-cleaning-the-pool/read
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dicks:
      - PH
    body:
      encoding: UTF-8
      string: '{"content":{"content_name":"Right now, while cleaning the pool","content_url":"http:\/\/www.fakku.net\/manga\/right-now-while-cleaning-the-pool","content_description":"Cleaning
        the pool sucks...or not?<br>\r\nVisit <a href=\"http:\/\/mumeitl.com\" target=\"_blank\">MumeiTL<\/a>
        and <a href=\"http:\/\/life4kaoru.wordpress.com\/\" target=\"_blank\">Life4Kaoru<\/a>!<br>\r\nDL-Link:
        <a href=\"http:\/\/www.sendspace.com\/file\/d5gd5v\">LINK<\/a>","content_language":"english","content_category":"manga","content_date":1379013351,"content_filesize":25921200,"content_favorites":4184,"content_comments":109,"content_pages":25,"content_poster":"mrmuk","content_poster_url":"http:\/\/www.fakku.net\/users\/mrmuk","content_tags":[{"attribute":"Vanilla","attribute_link":"\/tags\/vanilla"},{"attribute":"Mizugi","attribute_link":"\/tags\/mizugi"},{"attribute":"Schoolgirl","attribute_link":"\/tags\/schoolgirl"},{"attribute":"Dark
        Skin","attribute_link":"\/tags\/darkskin"},{"attribute":"Tanlines","attribute_link":"\/tags\/tanlines"},{"attribute":"Hentai","attribute_link":"\/tags\/hentai"}],"content_translators":[{"attribute":"Life4Kaoru","attribute_link":"\/translators\/life4kaoru"},{"attribute":"MumeiTL","attribute_link":"\/translators\/mumeitl"}],"content_series":[{"attribute":"Original
        Work","attribute_link":"\/series\/original-work"}],"content_artists":[{"attribute":"Yamatogawa","attribute_link":"\/artists\/yamatogawa"}],"content_images":{"cover":"https:\/\/t.fakku.net\/images\/manga\/r\/[Yamatogawa]_Original_Work_-_Right_now,_while_cleaning_the_pool\/thumbs\/002.thumb.jpg","sample":"https:\/\/t.fakku.net\/images\/manga\/r\/[Yamatogawa]_Original_Work_-_Right_now,_while_cleaning_the_pool\/thumbs\/018.thumb.jpg"}},"pages":{"1":{"thumb":"https:\/\/t.fakku.net\/images\/manga\/r\/[Yamatogawa]_Original_Work_-_Right_now,_while_cleaning_the_pool\/thumbs\/001.thumb.jpg","image":"https:\/\/t.fakku.net\/images\/manga\/r\/[Yamatogawa]_Original_Work_-_Right_now,_while_cleaning_the_pool\/images\/001.jpg"},"2":{"thumb":"https:\/\/t.fakku.net\/images\/manga\/r\/[Yamatogawa]_Original_Work_-_Right_now,_while_cleaning_the_pool\/thumbs\/002.thumb.jpg","image":"https:\/\/t.fakku.net\/images\/manga\/r\/[Yamatogawa]_Original_Work_-_Right_now,_while_cleaning_the_pool\/images\/002.jpg"},"3":{"thumb":"https:\/\/t.fakku.net\/images\/manga\/r\/[Yamatogawa]_Original_Work_-_Right_now,_whil[...]
