---
http_interactions:
- request:
    method: get
    uri: https://api.fakku.net/manga
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dicks:
      - PH
    body:
      encoding: UTF-8
      string: '{"latest":[{"content_name":"My Mountain Village Journal Chapter 1","content_url":"http:\/\/www.fakku.net\/manga\/my-mountain-village-journal-chapter-1-english-1407126681","content_description":"Commissioned
        by hentai2read.com","content_language":"english","content_category":"manga","content_date":1407126681,"content_filesize":18129800,"content_favorites":0,"content_comments":0,"content_pages":21,"content_poster":"LustyLady00","content_poster_url":"http:\/\/www.fakku.net\/users\/lustylady00","content_tags":[{"attribute":"Paizuri","attribute_link":"\/tags\/paizuri"},{"attribute":"Oral","attribute_link":"\/tags\/oral"},{"attribute":"Oppai","attribute_link":"\/tags\/oppai"},{"attribute":"Hentai","attribute_link":"\/tags\/hentai"},{"attribute":"Ahegao","attribute_link":"\/tags\/ahegao"}],"content_translators":[{"attribute":"Lazarus
        H","attribute_link":"\/translators\/lazarus-h"}],"content_series":[{"attribute":"Original
        Work","attribute_link":"\/series\/original-work"}],"content_artists":[{"attribute":"Hiroyuki
        Kai","attribute_link":"\/artists\/hiroyuki-kai"},{"attribute":"kai hiroyuki","attribute_link":"\/artists\/kai-hiroyuki"}],"content_images":{"cover":"https:\/\/t.fakku.net\/images\/manga\/m\/[Hiroyuki_Kai,_kai_hiroyuki]_Original_Work_-_My_Mountain_Village_Journal_Chapter_1_1407126682\/thumbs\/001.thumb.jpg","sample":"https:\/\/t.fakku.net\/images\/manga\/m\/[Hiroyuki_Kai,_kai_hiroyuki]_Original_Work_-_My_Mountain_Village_Journal_Chapter_1_1407126682\/thumbs\/002.thumb.jpg"}},{"content_name":"Bitch
        Hi School","content_url":"http:\/\/www.fakku.net\/manga\/bitch-hi-school-english","content_description":"No
        description has been written.","content_language":"english","content_category":"manga","content_date":1407084638,"content_filesize":123938000,"content_favorites":441,"content_comments":20,"co[...]
