---
http_interactions:
- request:
    method: get
    uri: https://api.fakku.net/manga/right-now-while-cleaning-the-pool/comments/top
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dicks:
      - PH
    body:
      encoding: UTF-8
      string: '{"comments":[{"comment_id":8018488,"comment_attached_id":null,"comment_poster":"checkerzam","comment_poster_url":"http:\/\/www.fakku.net\/users\/checkerzam","comment_reputation":145,"comment_text":"I
        wish i had a hot girlfriend like that...\n\nI wish my girlfriend was hot...\n\nI
        wish i had a girlfriend ;-;","comment_date":1379013826},{"comment_id":8018502,"comment_attached_id":null,"comment_poster":"cedet","comment_poster_url":"http:\/\/www.fakku.net\/users\/cedet","comment_reputation":24,"comment_text":"I
        don''t know about the rest of you bros, but I was amazed by how well done
        the drawings of fluids (water and otherwise) are in this one, you gotta hand
        it to Yamatogawa-sensei to put so much effot in details that are not part
        of the human body in a porn comic.","comment_date":1379[...]
