---
http_interactions:
- request:
    method: get
    uri: https://api.fakku.net/tags/netorare
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dicks:
      - PH
    body:
      encoding: UTF-8
      string: '{"content":[{"content_name":"Shujou Seikou II \u03b2","content_url":"http:\/\/www.fakku.net\/doujinshi\/shujou-seikou-ii-bbb-english","content_description":"<a
        href=\"http:\/\/www.amy.gs\/meqw\">Want something translated? Ragged Translations!<\/a>
        | This is perfectly rational behaviour. <a href=\"http:\/\/www.fapoff.com\/1lJe\">DDL<\/a>","content_language":"english","content_category":"doujinshi","content_date":1407439696,"content_filesize":41115500,"content_favorites":0,"content_comments":0,"content_pages":42,"content_poster":"_ragdoll","content_poster_url":"http:\/\/www.fakku.net\/users\/-ragdoll","content_tags":[{"attribute":"Netorare","attribute_link":"\/tags\/netorare"},{"attribute":"Oral","attribute_link":"\/tags\/oral"},{"attribute":"Shibari","attribute_link":"\/tags\/shibari"},{"attribute":"Oppai","attribute_link":"\/tags\/oppai"},{"attribute":"Harem","attribute_link":"\/tags\/harem"},{"attribute":"Group","attribute_link":"\/tags\/group"},{"attribute":"Forced","attribute_link":"\/tags\/forced"},{"attribute":"Humiliation","attribute_link":"\/tags\/humiliation"},{"attribute":"Hentai","attribute_link":"\/tags\/hentai"},{"attribute":"Ahegao","attribute_link":"\/tags\/ahegao"}],"content_translators":[{"attribute":"_ragdoll","attribute_link":"\/translators\/-ragdoll"}],"content_series":[{"attribute":"Sword
        Art Online","attribute_link":"\/series\/sword-art-online"}],"content_artists":[{"attribute":"Yuriru
        Rarika","attribute_link":"\/artists\/yuriru-rarika"}],"content_images":{"cover":"https:\/\/t.fakku.net\/images\/manga\/s\/[Yuriru_Rarika]_Sword_Art_Online_-_Shujou_Seikou_II_\u03b2\/thumbs\/001.thumb.jpg","sample":"https:\/\/t.fakku.net\/images\/manga\/s\/[Yuriru_Rarika]_Sword_Art_Online_-_Shujou_Seikou_II_\u03b2\/thumbs\/013.thumb.jpg"}},{"content_name":"Yuru
        Bitch","content_url":"http:\/\/www.fakku.net\/manga\/yuru-bitch-english","content_description":"You''ve
        changed in so many ways...","content_language":"english","content_category":"manga","content_date":1406861124,"content_filesize":18612100,"content_favorites":545,"content_comments":33,"content_pages":24,"content_poster":"CGrascal",[...]
