---
http_interactions:
- request:
    method: get
    uri: https://api.fakku.net/search/sword%20art%20online
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dicks:
      - PH
    body:
      encoding: UTF-8
      string: '{"content":[{"content_name":"Sword Art Unlimited","content_url":"http:\/\/www.fakku.net\/doujinshi\/sword-art-unlimited-english","content_description":"CONTAINS
        MILD SWORD ART ONLINE SPOILERS.\r\n\r\nVisit us at http:\/\/ufw.arinashi.com\/
        for downloads and more releases.","content_language":"english","content_category":"doujinshi","content_date":1344990979,"content_filesize":59,"content_favorites":3521,"content_comments":130,"content_pages":32,"content_poster":"Raze","content_poster_url":"http:\/\/www.fakku.net\/users\/raze","content_tags":[{"attribute":"Color","attribute_link":"\/tags\/color"},{"attribute":"Vanilla","attribute_link":"\/tags\/vanilla"},{"attribute":"Oppai","attribute_link":"\/tags\/oppai"},{"attribute":"Hentai","attribute_link":"\/tags\/hentai"}],"content_translators":[{"attribute":"UFW","attribute_link":"\/translators\/ufw"}],"content_series":[{"attribute":"Sword
        Art Online","attribute_link":"\/series\/sword-art-online"}],"content_artists":[{"attribute":"ASTRO
        CREEP","attribute_link":"\/artists\/astro-creep"}],"content_images":{"cover":"https:\/\/t.fakku.net\/images\/manga\/s\/swordartunlimited_e\/thumbs\/001.thumb.jpg","sample":"https:\/\/t.fakku.net\/images\/manga\/s\/swordartunlimited_e\/thumbs\/015.thumb.jpg"}},{"content_name":"Sword
        Art Offline -Silica Route-","content_url":"http:\/\/www.fakku.net\/doujinshi\/sword-art-offline-silica-route-english","content_description":"No
        description has been written.","content_language":"english","content_category":"doujinshi","content_date":1347254938,"content_filesize":23,"content_favorites":1332,"content_comments":66,"content_pages":18,"content_poster":"Anonym[...]
