---
http_interactions:
- request:
    method: get
    uri: https://api.fakku.net/manga/right-now-while-cleaning-the-pool/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dicks:
      - PH
    body:
      encoding: UTF-8
      string: '{"downloads":[{"download_type":"ss","download_url":"http:\/\/www.sendspace.com\/file\/d5gd5v","download_info":null,"download_count":0,"download_time":1398732730,"download_poster":"Jacob","download_poster_url":"http:\/\/www.fakku.net\/users\/jacob"}],"total":1}'
  recorded_at: Tue, 12 Aug 2014 06:44:54 GMT
recorded_with: VCR 2.9.2
